certifi
chardet
Django
idna
requests
sqlparse
urllib3
flake8
gunicorn
pillow
psycopg2-binary
python-social-auth
celery
requests
redis
uwsgi
boto3
python-memcached
duo_client
duo_web
pyprocmail
cryptography
django-oauth-toolkit

